<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ldt.debug.core.lualocaldebug">
    <stringAttribute key="mainScript" value="transliterateutf8.lua"/>
    <stringAttribute key="nature" value="org.eclipse.ldt.nature"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/E10/transliterateutf8.lua"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.dltk.launching.debugConsole" value="false"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.dltk.launching.scriptProcessFactory"/>
    <stringAttribute key="project" value="E10"/>
</launchConfiguration>
